{% include "aggrosint/partials/header.html" %}
		<div class="wrapper">
			<div class="tools">
				<ul>
					 <li>
                                                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#clearsearch">Clearnet Search Engines</button>
                                                <div id="clearsearch" class="collapse">
							<a href="https://www.google.com/" target="_blank"><button class="btn btn-outline-info">Google</button></a>
                                                	<a href="https://www.duckduckgo.com/" target="_blank"><button class="btn btn-outline-info">DuckDuckGo</button></a>
							<a href="https://www.yahoo.com/" target="_blank"><button class="btn btn-outline-info">Yahoo</button></a>
							<a href="https://www.bing.com/" target="_blank"><button class="btn btn-outline-info">Bing</button></a>
							<a href="https://www.yandex.com/" target="_blank"><button class="btn btn-outline-info">Yandex</button></a>
							<a href="https://www.baidu.com/" target="_blank"><button class="btn btn-outline-info">Baidu</button></a>
						</div>
                                        </li>
					<li>
                                                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#darksearch">Darknet Search Engines</button>
                                                <div id="darksearch" class="collapse">
                                                        <a href="https://ahmia.fi/" target="_blank"><button class="btn btn-outline-info">AHMIA</button></a>
                                                	<a href="https://hss3uro2hsxfogfq.onion.to/" target="_blank"><button class="btn btn-outline-info">Not Evil</button></a>
							<a href="https://xmh57jrzrnw6insl.onion.to/" target="_blank"><button class="btn btn-outline-info">TORCH</button></a>
							<a href="https://metrics.torproject.org/exonerator.html" target="_blank"><button class="btn btn-outline-info">Exonerator</button></a>
						</div>
                                        </li>
					<li>
                                                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#emailsearch">Email Address</button>
                                                <div id="emailsearch" class="collapse">
                                                        <a href="https://pipl.com/" target="_blank"><button class="btn btn-outline-info">Pipl</button></a>
							<a href="https://thatsthem.com/reverse-email-lookup" target="_blank"><button class="btn btn-outline-info">ThatsThem</button></a>		
							<a href="https://www.whoxy.com/" target="_blank"><button class="btn btn-outline-info">Whoxy</button></a>
							<a href="https://psbdmp.ws/" target="_blank"><button class="btn btn-outline-info">PastebinDump</button></a>
							<a href="https://intelx.io/" target="_blank"><button class="btn btn-outline-info">intelx</button></a>
							<a href="https://data.occrp.org/" target="_blank"><button class="btn btn-outline-info">OCCRP</button></a>
							<a href="http://analyzeid.co" target="_blank"><button class="btn btn-outline-info">AnalyzeID</button></a>
							<a href="http://samy.pl/peepmail/elift.cgi" target="_blank"><button class="btn btn-outline-info">PeepMail</button></a>
							<a href="https://www.peoplelooker.com/" target="_blank"><button class="btn btn-outline-info">PeopleLooker</button></a>
                                                </div>
                                        </li>
					<li>
                                                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#realsearch">Full Name</button>
                                                <div id="realsearch" class="collapse">
                                                	<a href="https://pipl.com/" target="_blank"><button class="btn btn-outline-info">Pipl</button></a>
							<a href="http://www.familytreenow.com/" target="_blank"><button class="btn btn-outline-info">FamilyTreeNow</button></a>
							<a href="https://thatsthem.com/reverse-email-lookup" target="_blank"><button class="btn btn-outline-info">ThatsThem</button></a>
                                                	<a href="https://nuwber.com/" target="_blank"><button class="btn btn-outline-info">Nuwber</button></a>
							<a href="http://radaris.com/" target="_blank"><button class="btn btn-outline-info">Radaris</button></a>
							<a href="http://zoominfo.com/" target="_blank"><button class="btn btn-outline-info">Zoominfo</button></a>
							<a href="http://intelius.com/" target="_blank"><button class="btn btn-outline-info">Intellius</button></a>
							<a href="http://zabasearch.com/" target="_blank"><button class="btn btn-outline-info">ZabaSearch</button></a>
							<a href="http://webmii.com/" target="_blank"><button class="btn btn-outline-info">WebMii</button></a>
							<a href="https://www.192.com/" target="_blank"><button class="btn btn-outline-info">192 (UK)</button></a>
							<a href="https://mylife.com/" target="_blank"><button class="btn btn-outline-info">MyLife</button></a>
							<a href="https://peekyou.com/" target="_blank"><button class="btn btn-outline-info">PeekYou</button></a>
							<a href="http://www.yasni.com/" target="_blank"><button class="btn btn-outline-info">Yasni</button></a>
							<a href="http://com.lullar.com/" target="_blank"><button class="btn btn-outline-info">Lullar</button></a>
						</div>
                                        </li>
					<li>
                                                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#usersearch">User Name</button>
                                                <div id="usersearch" class="collapse">
							<a href="http://namechk.com/" target="_blank"><button class="btn btn-outline-info">NameChk</button></a>
							<a href="http://knowem.com/" target="_blank"><button class="btn btn-outline-info">KnowEm</button></a>
							<a href="http://namecheckr.com/" target="_blank"><button class="btn btn-outline-info">NameCheckr</button></a>
							<a href="http://namevine.com/" target="_blank"><button class="btn btn-outline-info">NameVine</button></a>
							<a href="http://checkusernames.com/" target="_blank"><button class="btn btn-outline-info">CheckUserNames</button></a>
							<a href="http://usersearch.org/" target="_blank"><button class="btn btn-outline-info">User Search</button></a>
							<a href="http://usersherlock.com/" target="_blank"><button class="btn btn-outline-info">User Sherlock</button></a>
							<a href="https://www.profilr.social/search/" target="_blank"><button class="btn btn-outline-info">Profilr</button></a>
						</div>
                                        </li>
					<li>
                                                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#phonesearch">Phone Number</button>
                                                <div id="phonesearch" class="collapse">
                                                        <a href="" target="_blank"><button class="btn btn-outline-info"></button></a>
                                                </div>
                                        </li>
					<li>
                                                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#domainsearch">Domain Name</button>
                                                <div id="domainsearch" class="collapse">
                                                        <a href="" target="_blank"><button class="btn btn-outline-info"></button></a>
                                                </div>
                                        </li>
					<li>
                                                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#ipsearch">IP Address</button>
                                                <div id="ipsearch" class="collapse">
                                                        <a href="" target="_blank"><button class="btn btn-outline-info"></button></a>
                                                </div>
                                        </li>
					<li>
                                                <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#socialmedia">Social Media</button>
                                                <div id="socialmedia" class="collapse">
                                                        <a href="" target="_blank"><button class="btn btn-outline-info"></button></a>
                                                </div>
                                        </li>


				</ul>
			</div>
			<div class="submission">
				<p>
				<form action="" method="post">
					{% csrf_token %}
					<div class="form-group">        
						<label for="subject">Subject</label>
						<select class="form-control" id="subject" name="subject" required>
							<option></option>
							{% for op in ops %}
							<option>{{op.name}}</option>
							{% endfor %}
						</select>
                                	</div>
					<div class="form-group">
                                                <label for="subject">Title</label>
						<input type="text" class="form-control" value="" name="title" id="title" maxlength="50" required/>
                                        </div>
					<div class="form-group">
                                                <label for="subject">Category</label>
                                                <select class="form-control" id="category" name="category">
                                                        <option value="bi">Basic Information</option>
							<option value="ai">Advanced Information</option>
							<option value="fr">Friends</option>
							<option value="fa">Family</option>
							<option value="em">Employment</option>
							<option value="dw">Darkweb</option>
							<option value="dls">Day Last Seen</option>
                                                </select>
                                        </div>
					<div class="form-group">
                                                <label for="url">URL</label>
                                                <input type="text" class="form-control" value="" name="url" id="url" maxlength="250" required/>
                                        </div>
					<div class="form-group">
						<label for="justification">Justification</label>
						<textarea class="form-control" name="justification" id="justification" value="" rows="6" required></textarea>
					</div>
					<input id="reset" type="reset" class="btn btn-light" value="Reset">
					<input id="submit" type="submit" class="btn btn-dark" value="Submit"> 
				</form>
				</p>
			</div>
		</div>
		<div class="footer">
		</div>
	</body>
</html>
